[commit]
  gpgsign = true
  template = .gitmessage

[tag]
  gpgsign = true

[core]
  eol = lf
  autocrlf = input
  safecrlf = true
  hooksPath = .githooks
  attributesfile = .gitattributes

[color]
  ui = auto
